*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative';
    overflow-x: hidden;
}


/* Estilização do header cabeçalho */
.box-header {
    background-image: linear-gradient(-45deg, rgb(0, 0, 0), rgb(32, 32, 32),rgb(42, 42, 48), rgb(18, 18, 19), rgb(0, 0, 0));
    width: 100vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-one {  
    height: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.box-one a {
    width: 31px;
    height: 31px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(2, 2, 2);
}
.box-one img {
    width: 18px;
    height: 18px;
}
.box-one a:hover {
    background-color: rgb(61, 62, 63);
}

.box-two {
    max-width: 80vw;
    flex: 1;
    display: flex
}
.box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.box-img img {
    max-width: 100%;
    border-radius: 18px;
}
.box-title {
    flex: 2;
    margin-left: 25px;
    color: #fff;
}
.box-title h2 {
    max-width: 40%;
    font-size: 20px;
    margin-top: 40%;
}
.box-title h1 {
    max-width: 70%;
    font-size: 33px;
}


/* Estilização do conteúdo principal do site  */

/* NavBar */
.nav-bar {
    margin-bottom: 4px;
}
.nav-bar ul {
    display: flex;
    justify-content: center;
    background: #fff;
}
.nav-bar li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
.nav-bar li:hover, .active {
    color: #7c7c7c;
}

/* icones */

.icons {
    display: flex;
    justify-content: center;
}

.icons img {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/* estilizando conteiner sobre */
.conteiner-one {
    display: block;
    height: 55vh;
}

.about-text {
    max-width: 80vw;
    margin: auto;
    margin-top: 10px;
}

.contact {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact img {
    height: 25px;
    margin-right: 15px;
}

/* estilizando conteiner projeots */
.conteiner-two {    
    display: none;
}

.project {
    margin-top: 15px;
    height: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.video {
    align-items: center;
    margin-top: 15px;
}

.description {
    text-align: center;
}

.description a {
    text-decoration: none;
    color: #0d1dff;
}

.project-one {
    background: #d6d6d6;
}

.project-two {
    background: #fff;
}

/* estilizando conteiner certificados */
.conteiner-three {
    display: none;
}

.certificate {
    margin-top: 15px;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.certificate img {
    max-height: 500px;
    box-shadow: 1px 1px 8px #000;
}